@model Raythos_Aerospace.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in to your account";
}

<div class="row">
    <div class="col-md-6 offset-3" style="border: 1px solid #000;">
        <div class="text-center">
            <br />
            <div class="align-middle">
                <img class="rounded-circle" src="~/images/logo.png" alt="logo" style="max-width: 130px" />
            </div>
            <h4>Log in to your account</h4>
        </div>
        <br /><br />
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login" id="myForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" asp-for="UserEmail" required />
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input class="form-control" type="password" asp-for="Password"  required/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-info bg-info text-white float-right btn-block" type="submit" value="Log in" />

                    </div>
                    <br /><br /><br /><br />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('myForm').addEventListener('submit', function (e) {
        window.location.href = '/'

        // Display Sweet Alert
       
    });
</script>
