@*@using eTickets.Data.ViewModels;
@model RegisterVM;
*@
@{
    ViewData["Title"] = "Sign up for a new account";
}

@model Raythos_Aerospace.Models.ViewModels.RegisterViewModel

<div class="row">
    <div class="col-md-6 offset-3" style="border: 1px solid #000;">
        <div class="text-center">
            <br />
            <div class="align-middle">
                <img class="rounded-circle" src="~/images/logo.png" alt="logo" style="max-width: 130px" />
            </div>
            <br />
            <h4>Register</h4>
        </div>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register" method="post" id="myForm">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" asp-for="UserEmail" />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control" type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input class="form-control" type="password" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input class="form-control" asp-for="ContactNumber" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input class="form-control" asp-for="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-info bg-info text-white btn-block" type="submit" value="Sign up" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('myForm').addEventListener('submit', function (e) {
        
        // Display Sweet Alert
        Swal.fire({
            title: 'Registration Successful!',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            // Redirect to the home page after clicking the OK button
            if (result.isConfirmed) {
                window.location.href = '/'; // Replace '/' with the actual URL you want to redirect to
            }
        });
    });
</script>